{% unless settings.prod_block_label_loc == 'hide' %}
{% assign inv_mngmt_size = product-label.variants.first.inventory_management | size %}
{% assign limit_as_int = settings.prod_stock_warn_limit | plus: 0 %}
{% if product-label.compare_at_price_max > product-label.price and settings.stick_sale_en %}
    <span class="productlabel sale"><span>{{ settings.text_sale }}</span></span>
{% elsif settings.prod_stock_warn_limit != empty and product-label.variants.size == 1 and inv_mngmt_size > 0 and product-label.variants.first.inventory_quantity != 0 and product-label.variants.first.inventory_quantity < limit_as_int %}
    <span class="productlabel general"><span>Only {{ product-label.variants.first.inventory_quantity }} left!</span></span>
{% else %}
    {% if product-label.available == false %}
        <span class="productlabel soldout"><span>{{ settings.text_soldout }}</span></span>
    {% else %}
        {% for tag in product-label.tags %}
            {% if tag contains 'meta-label-' %}
                <span class="productlabel general"><span>{{ tag | remove: 'meta-label-' }}</span></span>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endunless %}